# Maven
target/

# Maven Release Plugin
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

# IntelliJ IDEA
*.iml

# Ubuntu/OSX hidden files
.*


api-demo/report.csv
api-demo/tmp

/bin

config_local
activemq-data/

# Whitelist some files
!.gitattributes
*.orig
