# Normalize file endings for all text files detected by Git
#https://git-scm.com/docs/gitattributes#gitattributes-Settostringvalueauto
* text=auto

# Convert to CRLF line endings on checkout
sct2*.txt text eol=crlf
der2*.txt text eol=crlf
