{{partial "header"}}

<div class="row">
    <div class="col-sm-6">
        <div class="col-md-8">
            <div class="panel panel-default panel-build-input">
                <div class="panel-heading">
                    <h3>Current Assertions</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Satement</th>
                            <!--<th>Version</th>-->
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each}}
                                <tr>
                                    <td>{{#link-to 'assertion' this}}{{name}}{{/link-to}}</td>
                                    <td>{{statement}}</td>
                                    <td>{{#link-to 'edit-assertion' this}}<span class="glyphicon glyphicon-edit" title="Edit Assertion"></span>{{/link-to}}</td>
                                </tr>
                            {{else}}
                                <tr><td colspan="2"><h4>No Assertions Currently Defined</h4></td></tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary btn-md list-align" {{action 'addAssertion' this}}>
                        <span class="glyphicon glyphicon-plus"></span> Add Assertion
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        {{outlet}}
    </div>
</div>

