{{partial "header"}}

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default panel-build-input">
            <div class="panel-heading">
                <h3 class="panel-title">{{name}}</h3>
            </div>
            <div class="panel-body">
                <div class="col-sm-4">Statement of Truth:</div>
                <div>{{statement}}</div>
            </div>
            <div class="panel-body">
                <div class="col-sm-4">Descrption:</div>
                <div>{{description}}</div>
            </div>
            <div class="panel-body">
                <div class="col-sm-4">Doc Link:</div>
                <div>{{docLink}}</div>
            </div>
            <div class="panel-body">
                <div class="col-sm-4">Keywords:</div>
                <div>{{keywords}}</div>
            </div>
            <div class="panel-body">
                <div class="col-sm-4">Active information:</div>
                <div>todo active</div>
            </div>
        </div>
    </div>
</div>