<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalLabel">New Assertion</h4>
            </div>
            {{#form-for controller}}
            <div class="modal-body">
                {{input name label='Assertion Name' hint='Columns must be correctly defined'}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                {{submit class='btn btn-primary'}}
            </div>
            {{/form-for}}
        </div>
    </div>
</div>
