<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" {{action 'close'}} class="close" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modalLabel">New Assertion</h4>
            </div>
            {{#form-for controller name='yikes'}}
            <div class="modal-body">
                {{input name label='Assertion Name'}}
                <div id="c_ass_name_error" class="alert alert-warning" style="display: none">
                    Name cannot be blank and must be at least 3 characters long
                </div>
                <label>Statement of Truth</label>
                {{textarea value=statement cols="80" rows="4"}}
                {{input docLink label='Document Link'}}
                {{input keywords label='Keywords(comma separated)' title='Provide a comma sepatated list of keywords'}}
                <label>Description</label>
                {{textarea value=description cols="80" rows="4"}}
            </div>
            <div class="modal-footer">
                <button type="button" {{action 'cancel'}} class="btn btn-default">Cancel</button>
                {{submit class='btn btn-primary'}}
            </div>
            {{/form-for}}
        </div>
    </div>
</div>
