{{partial "header"}}
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default panel-build-input">
            <div class="panel-heading">
                <h3 class="panel-title">Edit Assertion {{name}}</h3>
            </div>
            {{#form-for controller}}
            <div class="panel-body">
                {{input name label='Assertion Name'}}
                <label>Statement of Truth</label>
                {{textarea value=statement cols="80" rows="4"}}
                {{input docLink label='Document Link'}}
                {{input keywords label='Keywords(comma separated)' title='Provide a comma sepatated list of keywords'}}
                <label>Description</label>
                {{textarea value=description cols="80" rows="4"}}
            </div>
            <div class="panel-footer">
                <button type="button" {{action 'cancel'}} class="btn btn-default">Cancel</button>
                {{submit class='btn btn-primary'}}
            </div>
            {{/form-for}}
        </div>
    </div>
</div>
